@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Staatliches&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}
/* HEADER & NAV */
#header {
    background-color: green;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.nav a {
    color: #efefef;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.5s;
}
.nav a:hover {
    background-color: brown;
}
/* PLANT HERO */
#plant-hero {
    background-image: url(../images/hero1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: bottom right;
    display: flex;
    align-items: center;
}
#plant-hero h1 {
    font-family: "staatliches", sans-serif;
    margin: 0px;
    font-size: 100px;
}
#plant-hero p {
    margin: 10px 0px 20px;
}
#plant-hero .btn {
    display: inline-block;
    border: 2px solid green;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: green;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#plant-hero .btn:hover {
    background-color: green;
    color: #efefef;
}
#footer {
    text-align: center;
    color: #efefef;
    background-color: #111;
    padding: 10px 0px;
}
/* CAT HERO */
#cat-hero {
    background-image: url(../images/hero2.jpg);
    background-size: cover;
    height: 100vh;
    color: #efefef;
    display: flex;
    justify-content: end;
    align-items: end;
}
#cat-hero .container {
    width: max-content;
    margin: 0px;
    padding-right: 10%;
    padding-bottom: 100px;
}
#cat-hero h1 {
    font-size: 100px;
    margin: 0px;
    font-family: "staatliches", sans-serif;
}
#cat-hero p {
    margin: 10px 0px 20px;
}
#cat-hero .btn {
    display: inline-block;
    border: 2px solid orange;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: orange;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#cat-hero a:hover {
background-color: orange;
color: #111;
}
/* EXTRA HEROS */
#hero-1 {
    height: 100vh;
    background-image: url(../images/lizard.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
}
#hero-2 {
    background-image: url(../images/lonely-ocean.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
}