/* Drill 1 - Write your code solution below */
#d1-div2 {
    margin-top: 20px;
}

/* Drill 2 - Write your code solution below */
#d2-div2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Drill 3 - Write your code solution below */
#d3-div2 {
    margin-top: 25px;
}

/* Drill 4 - Write your code solution below */
#d4-div2,
#d4-div3 {
    margin-top: 25px;
}

/* Drill 5 - Write your code solution below */
#d5-h5-1 {
    margin-bottom: 0px;
}
#d5-h1-1 {
    margin: 0px;
}
#d5-h2-1 {
    margin-top: 8px;
}
.d5-div {
    text-align: center;
}

/* Drill 6 - Write your code solution below */
.d6-div {
    margin-right: 48px;
}

/* Drill 7 - Write your code solution below */
#d7-container {
    text-align: center;
}
.d7-div {
    margin: 12px 24px;
}



/*
        1 value margin/padding:
        margin gets applied to all 4 sides of the element.
 
        2 value margin/padding:
        The first value gets applied to the top and bottom of the element.
        The second value gets applied to the left and right of the element.
 
        3 value margin/padding:
        The first value gets applied to the top of the element.
        The second value still gets to the left and right of the element
        The third value gets applied to the bottom of the element.
 
        4 value margin/padding:
        The first value still gets applied to the top.
        The second value now gets applied to just the right
        The third value still gets applied to the bottom
        The fourth value gets applied to the left
    */