* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.images1 {
    width: 50%;
    margin: 0px auto;
}
.light-container {
    background-color: aqua;
    padding: 48px 0px;
}